/* 기본 스타일 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; /* 변경 */
}

/* 컨테이너 전체 */
.container {
    display: flex;
    min-height: 100vh; /* 변경: 전체 높이를 꽉 채우는 대신 최소 높이 설정 */
    flex-direction: column; /* 화면 크기 조정 시 기본 방향을 column으로 설정 */
}

/* 메인 컨텐츠 */
.content {
    flex: 1;
    padding: 40px;
    background-color: #f8f8f8;
}

#back {
    text-decoration: none;
    color: black; /* 링크 색상 변경 */
}

#back:hover, #back:visited, #back:active {
    color: black;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* 설정 목록 */
.settings {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.setting-item {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}

.setting-item:last-child {
    border-bottom: none;
}

.setting-item p {
    font-size: 14px;
    color: #333333;
    margin-top: 5px;
    margin-bottom: 10px;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .btn {
        width: 100%; /* 버튼이 화면에 맞춰 100%로 확장 */
    }
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    margin-right: 7px;
    font-size: 14px;
    color: #333333;
    border: solid 1px #ddd;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.btn-container {
    margin-top: 10px;
}

.btn:hover {
    background-color: #b4b2b2;
}
