/* 기본 스타일 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* 📌 컨테이너 전체 */
.container {
    display: flex;
    height: 100vh;
}

/* 📌 메인 컨텐츠 */
.content {
    flex: 1;
    padding: 40px;
    background-color: #f8f8f8;
}

#back {
    text-decoration: none;
    color: black; /* 링크 색상 변경 */
}

#back:hover {
    color: black;
}

#back:visited {
    color: black;
}

#back:active {
    color: black;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* 설정 목록 */
.settings {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.setting-item {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}

.setting-item:last-child {
    border-bottom: none;
}

.setting-item p {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    margin-top: 5px;
    margin-bottom: 35px;
}

.setting-item a {
    display: block; /* 블록 요소로 변경하여 너비 적용 */
    width: 500px; /* 최대 너비 설정 */
    font-size: 12px;
    color: #818181;
    margin-top: 15px;
    margin-bottom: 35px;
}

/* 📌 반응형 디자인 */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .menu li a {
        text-align: left;
        padding: 10px 15px;
    }
}

.btn-container {
    margin-top: 10px;
}

#pwd {
    display: block;
    background: #ffffff;
    border-radius: 5px;
    border: 1px solid #b4b2b2;
    width: 500px;
    padding: 10px;
    margin-bottom: 10px;
    outline: none;
    color: #2d2d2d;
    transition: all 0.2s ease-out;
}

.btn {
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    padding: 10px 20px;
    background-color: #bfbfbf;
    color: #444444;
    border: none;
    border-radius: 5px;
    width: 500px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.btn:hover {
    background-color: #666;
}