@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');

body, html {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

.header{
    border-bottom: #b4b2b2 solid 0.5px;
    height: 53px;
}

#logo{
    width: 60;
    height: auto;
    margin-left: 10px;
}
#menu_icon{
    position: absolute;
    width: 27;
    height: auto;
    top: 13px;
    right: 2%;
    /*transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
    cursor: pointer;*/
}

/*헤더-로그인 & 회원가입*/
.sign-join{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 600;
    position: absolute;
    top: 1px;
    color: #a1a4ad;
    margin: 15px;
}
#LOGIN{
    right: 8%;
}
#JOIN{
    right: 4%;
}


.container{
  margin: 0;
  top: 90px;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  background-color: #f1f1f1;
  border-radius: 9px;
  border-style: solid;
  border-color: #b4b2b2;
  border-width: 0.3px;
  width: 570px;
  height: 700px;
}

.box h4 {
  font-family: 'Source Sans Pro', sans-serif;
  color: #606060;
  font-size: 28px;
  font-weight: 900;
  margin-top:40px;
  margin-left: 120px;
  text-align: left;
}

.box h4 span {
  color: #dfdeee;
  font-weight: lighter;
}

.box h5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  color: #a1a4ad;
  margin-top: -40px;
  margin-bottom: 70px;
}

.box input[type = "text"],.box input[type = "password"] {
  display: block;
  margin: 10px auto;
  background: #ffffff;
  border: 0;
  border-radius: 5px;
  border-style: solid;
  border-color: #b4b2b2;
  border-width: 0.3px;
  padding: 14px 10px;
  width: 320px;
  outline: none;
  color: #2d2d2d;
      -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
  
}
::-webkit-input-placeholder {
  color: #565f79;
}

.box input[type = "text"]:focus,.box input[type = "password"]:focus {
  border: 1px solid #79A6FE;
  
}

a{
  color: #5c7fda;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

 label input[type = "checkbox"] {
  display: none; /* hide the default checkbox */
}

/* style the artificial checkbox */
label span {
  height: 13px;
  width: 13px;
  background-color: white;
  border: 0.5px solid #b4b2b2;
  border-radius: 2px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  float: left;
  left: 22%;
}

.btn1 {
  border:0;
  border-radius: 85px;
  border: 0.5px solid #b4b2b2;
  width: 340px;
  height: 49px;
  font-size: 15px;
  position: absolute;
  left: 20%;
  transition: 0.3s;
  cursor: pointer;
}

.btn1:hover {
  background: #1e056e;/*왜 작동 안하지..*/
}

#signIn{
    background: #7499F7;
    color: #eaeaea;
    top: 340px;
}

#forgetId{
    background: #ffffff;
    color: #606060;
    top: 400px;
}

/* 공통 버튼 스타일 */
.btn2 {
  display: inline-block;
  text-align: center;
  line-height: 35px;
  position: relative; 
  border: 0.5px solid #b4b2b2; 
  border-radius: 7px;
  width: 150px;
  height: 35px;
  font-size: 12px;
  font-weight: 550;
  left: 0%; 
  margin-top: 30px;
  margin-left: 8px;
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

/* 버튼 hover 효과 */
.btn2:hover {
  background-color: #5c7fda;
  border: 0.5px solid #4a6eb1; 
}

/* 기업 회원 로그인 버튼 스타일 */
.busin-mem {
  background-color: #b4b2b2;
  color: #eaeaea;
}

/* 개인 회원 로그인 버튼 스타일 */
.indiv-mem {
  background-color: #7499F7;
  color: #606060;
}
.rmb {
  position: absolute;
  margin-left: -75px;
  margin-top: 0px;
  color: #8b8b8b;
  font-size: 13px;
}

.forgetpass {
  position: relative;
  float: right;
  left: -22%;
}

.dnthave{
    position: absolute;
    top: 460px;
    left: 185px;
}

[type=checkbox]:checked + span:before {/* <-- style its checked state */
    font-family: FontAwesome;
    font-size: 16px;
    content: "\f00c";
    position: absolute;
    top: -4px;
    color: #896cec;
    left: -1px;
    width: 13px;
}

.typcn {
  position: absolute;
  left: 339px;
  top: 282px;
  color: #3b476b;
  font-size: 22px;
  cursor: pointer;
}      

.typcn.active {
  color: #7f60eb;
}

.error {
  background: #ff3333;
  text-align: center;
  width: 337px;
  height: 20px;
  padding: 2px;
  border: 0;
  border-radius: 5px;
  margin: 10px auto 10px;
  position: absolute;
  top: 31%;
  left: 7.2%;
  color: white;
  display: none;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    top: 605px;
    width: 100%;
    color: #78797d;
    font-size: 14px;
    text-align: center;
}

.footer .fa {
  color: #7f5feb;;
}

hr {
    width: 80%;
    margin-top: 250px;
}

p {
    background-color: #f1f1f1;
    color: #565f79;
    margin: 10px auto;
    margin-top: -20px;
    width: fit-content; 
    text-align: center; 
}

.login_img{
    width: 300px;
    height: 50px;
    position: absolute;
    top: 580px;
    left: 135px;
}

.social-icon{
    width: 45px;
    height: auto;
    margin: 10px;
    border: 2px solid transparent;
    border-radius: 10%;
    cursor: pointer;
    box-shadow:2px 2px 10px rgba(0, 0, 0, 0.3);
    transition: border 0.3s ease-in-out;
}

.social-icon:hover {
    border: 2px solid #79A6FE;
}
